<style>
  
</style>

<header class="lwj-demo-header">
  <div class="logo-wrapper">
    
    <a href="https://www.edyflow.com" class="logo"
      ><img src="/images/230728-edyflow-Logo-colordark-small.png" alt="home"
    /></a>
    <a href="/" rel="home" class="home-link"></a>
  </div>

  <div class="top-bar"></div>
  <script type='text/javascript' src="https://js.stripe.com/v3/"></script>
  <script type='text/javascript' src="../js/index.js"></script>
</header>

<script type="module">
  import { startAnimation } from '/js/dots.js';
  startAnimation();
</script>
